xml-api/participant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Participant">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FullName" type="xs:string"/>
        <xs:element name="BirthDate" type="xs:date"/>
        <xs:element name="Role" type="xs:string"/>
        <xs:element name="Email" type="xs:string"/>
        <xs:element name="Phone" type="xs:string"/>
        <xs:element name="Source" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
